button {
    outline: none;
    border: 0;
    cursor: pointer;
}

.workout {
    list-style: none;
    padding: 0.5em;
    font-size: 2.5rem;
}

.workout-cout {
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    margin-left: 0, 2em;
    margin-right: 0.5em;
    background-color: greenyellow;
    color: white;
    border-radius: 50%;
}

.wo-button {
    font-size: 2.5rem;
    margin: 0 0.1em;
    background-color: transparent;
}

.wo-button:hover {
    opacity: 0.8;
}

.workout-increase,
.workout-decrease {
    color: gold;
}

.workout-delete {
    font-size: 2rem;
    color: lightcoral;
}